GEMINI_API_KEY="your_google_ai_studio_api_key_here"
LLM_MODEL="gemini-2.5-flash"
EMBEDDING_MODEL="gemini-embedding-001"
QDRANT_URL="your_qdrantdb_endpoint"
QDRANT_API_KEY="your_qdrantdb_api_key"
BACKEND_URL="https://nyayadocs.onrender.com"
